* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  height: 99vh;
  margin: 10px;
  padding: 20px;
  background-color:gold;
}
.card {
  border: 2px solid blue;
  padding: 30px;
  margin: 20px auto;
  background-color: darkgreen;
  border-radius: 15px;
  display: grid;
  align-items: center;
}
#input,
#tombol,
#tombolToggle {
  width: 80%;
  padding: 10px;
  margin: 15px auto;
  border-radius: 15px;
  font-size: 1.3rem;
  font-weight: bold;
}
.status {
  border-radius: 20px;
  font-weight: 900;
  font-size: 1.2em;
}
